<%= render 'shared/nav' %>
<% if logged_in? == false %>
<section class="static">
<div class="container">
  <div class="row primary">
    <div class="col-lg-offset-2 col-lg-8">
      <h1 class="text-center main">Order your favorite Filipino food now!</h1>
      <h3 class="text-center">Add to cart from a variety of selection</h3>
      <div class="text-center">
        <%= link_to "Sign Up", signup_path, class: "btn btn-danger btn-lg" %>
      </div>
    </div>
  </div>

<div class="owl-carousel gallery">
  <div><%= image_tag ('rolls.jpg') %></div>
  <div><%= image_tag ('pork.jpg') %></div>
  <div><%= image_tag ('bbq.jpg') %></div>
  <div><%= image_tag ('color.jpg') %></div>
  <div><%= image_tag ('kare.jpg') %></div>
  <div><%= image_tag ('balls.jpg') %></div>
</div>

  <%= render 'shared/footer' %>
</div>

</section>
<% end %>

<% if logged_in? == true %>
<section class="static">
<div class="container">
  <div class="row primary">
    <div class="col-lg-offset-2 col-lg-8">
      <h1 class="text-center main">Order your favorite Filipino food now!</h1>
      <h3 class="text-center">Add to cart from a variety of selection</h3>
      <div class="text-center">
        <%= link_to "Order Now", items_path, class: "btn btn-danger btn-lg" %>
      </div>
    </div>
  </div>

<div class="owl-carousel gallery">
  <div><%= image_tag ('rolls.jpg') %></div>
  <div><%= image_tag ('pork.jpg') %></div>
  <div><%= image_tag ('bbq.jpg') %></div>
  <div><%= image_tag ('color.jpg') %></div>
  <div><%= image_tag ('kare.jpg') %></div>
  <div><%= image_tag ('balls.jpg') %></div>
</div>

  <%= render 'shared/footer' %>
</div>

<section>

<% end %>

<script>
  
  $(document).ready(function(){
    $(".owl-carousel").owlCarousel({
      items:3,
      loop:true,
      margin:10,
      autoplay:true,
      autoplayTimeout:1000,
      autoplayHoverPause:true
    });
  });

</script>


