<div class="cart-item col-lg-offset-2 col-lg-8">
	<div class="col-lg-6">
		<h6><%= item.name %></h6>
		<img src="#" width="200" height="150">
	</div>
	<div class="col-lg-6">
		<p class="cart-size"> Size - <%= order_item.size %></p>
	

		<%= form_for order_item, remote: true do |f| %>

				<span>Qty: </span><%= f.number_field :quantity, value: order_item.quantity.to_i %>
				<%= f.hidden_field :item_id, value: item.id %>
				<%= f.submit "Update Order", class: "btn btn-success" %>
				<%= link_to "", order_item, method: :delete, remote: true, class: "glyphicon glyphicon-trash g-remove" %>
	</div>

		<% end %>

</div>



