<div class="col-lg-4 item-list text-center">

	<div>
	<%= item.name %>
	</div>
	<div>
	<img src="#" width="300" height="270">
	</div>

	<%= form_for order_item, remote: true do |f| %>

		<div>
		<span>Qty: </span><%= f.number_field :quantity, value: 1, min: 1 %>
		</div>
		<%= f.hidden_field :item_id, value: item.id %>
		<div>
		<%= f.select :unit_price, options_for_select({"Small (T) - #{number_to_currency item.smallT}" => "#{item.smallT}", "Medium (T) - #{number_to_currency item.mediumT}" => "#{item.mediumT}", "Large (T) - #{number_to_currency item.largeT}" => "#{item.largeT}", "Small (C) - #{number_to_currency item.smallC}" => "#{item.smallC}", "Medium (C) - #{number_to_currency item.mediumC}" => "#{item.mediumC}", "Large (C) - #{number_to_currency item.largeC}" => "#{item.largeC}", "Each - #{number_to_currency item.each}" => "#{item.each}", "Half - #{number_to_currency item.half}" => "#{item.half}", "Whole - #{number_to_currency item.whole}" => "#{item.whole}", "Full - #{number_to_currency item.full}" => "#{item.full}"}) %>
		</div>
		<div>
	 	<%= f.submit "Add to Order", class: "btn btn-primary o-btn" %>
	 	</div>

	<% end %>
</div>