<div class="col-md-offset-2 col-md-8 item-list">
	<%= item.name %>
	<%= link_to "Edit", edit_item_path(item.id) %>
	

	<%= form_for order_item, remote: true do |f| %>

		<span>Qty: </span><%= f.number_field :quantity, value: 1, min: 1 %>
		<%= f.hidden_field :item_id, value: item.id %>
		<%= f.select :size, options_for_select({"Small" => "Small", "Medium" => "Medium", "Large" => "Large"}) %>
	 	<%= f.submit "Add to Order", class: "btn btn-primary" %>

	<% end %>
</div>