<div class="col-lg-4 item-list text-center">

	<div>
	<%= item.name %>
	</div>
	
	<div class="image-holder">
	<img src="<%= item.image %>" class="item-image" width="270" height="200" >
	<div class="tooltip">
	<p class="tooltiptxt"><%= item.desc %></p>
	</div>
	</div>

	<%= form_for order_item, remote: true do |f| %>

		<div>
		<span>Qty: </span><%= f.number_field :quantity, value: 1, min: 1, class: "qty" %>
		</div>
		<%= f.hidden_field :item_id, value: item.id %>
		<div>
		<%= f.select :size, options_for_select({"Small (Tray) - #{number_to_currency item.smallT}" => "Small (Tray)", "Medium (Tray) - #{number_to_currency item.mediumT}" => "Medium (Tray)", "Large (Tray) - #{number_to_currency item.largeT}" => "Large (Tray)", "Small (Cup) - #{number_to_currency item.smallC}" => "Small (Cup)", "Medium (Cup) - #{number_to_currency item.mediumC}" => "Medium (Cup)", "Large (Cup) - #{number_to_currency item.largeC}" => "Large (Cup)", "Each - #{number_to_currency item.each}" => "Each", "Half - #{number_to_currency item.half}" => "Half", "Whole - #{number_to_currency item.whole}" => "Whole", "Full - #{number_to_currency item.full}" => "Full"}) %>
		</div>
		<div>
	 	<%= f.submit "Add to Order", class: "btn btn-primary o-btn" %>
	 	</div>

	<% end %>
</div>

<script>
	
 $(document).ready(function(){

 	$(".o-btn").click(function(){
 		$(".cart-text").animate({"color": "yellow"});
 	})

 });

</script>