<h1>Your Order</h1>
		<div>
			<h3><%= @order.user.first %> <%= @order.user.last %></h3>
		</div>

		<div>
			<%= @order.user.email %>
		</div>

		<div>
			<%= @order.user.phone_number %>
		</div>


<% @order_items.each do |order_item| %>

<div class="cold-md-3" class="container" id="topTen">
	<td>
 		<div class="cold-md-3" href="">1</div>
 		<div class="cold-md-3" href="">2</div>
 		<div class="cold-md-3" href="">3</div>
 		<div class="cold-md-3" href="">4</div>
 		<div class="cold-md-3" href="">5</div>
 		<div class="cold-md-3" href="">6</div>
 		<div class="cold-md-3" href="">7</div>
 		<div class="cold-md-3" href="">8</div>
 		<div class="cold-md-3" href="">9</div>
 		<div class="cold-md-3" href="">10</div>
	</td>
</div>

<div class="col-md-4" class="container" id="cartItem">
	<div>
		Quantity - <%= order_item.quantity %>
	</div>
	<div>
		<%= order_item.item.name %>
	</div>
	<div>
		Size - <%= order_item.size %>
	</div>
</div>
<br/>

<% end %>

<br/>
<br/>

<div>
	Total Items: <%= @order.order_items.count %> 
	Ordered at: <%= @order.created_at %>
</div>