<h1 class="text-center">Order Number: <%= @order.id %></h1>
		<div class="text-center">
			<%= @order.user.first %> <%= @order.user.last %> - <%= @order.user.email %> - <%= @order.user.phone_number %>
		</div>

		<div class="text-center">
			Your Total: <span class="complete-info"><%= number_to_currency current_order.subtotal %></span>
			Pick Up Date: <span class="complete-info"><%= @order.date %></span>
			Time: <span class="complete-info"><%= @order.time %></span>
		</div>


<% @order_items.each do |order_item| %>


<div class="container">
	<div class="row complete-items">
		<div class="col-lg-offset-4 col-lg-2">
			<img src="<%= order_item.item.image %>" class="item-image" width="150" height="130">
		</div>
		<div class="col-lg-4">
			<div>
				<%= order_item.item.name %>
			</div>
			<div>
				Quantity - <%= order_item.quantity %>
			</div>
			<div>
				Size - <%= order_item.size %>
			</div>
		</div>
	</div>
	
</div>
<br/>

<% end %>