<h1>Your Order</h1>
<div>
			<%= @order.user.first %> <%= @order.user.last %>
		</div>
		<div>
			<%= @order.user.email %>
		</div>
		<div>
			<%= @order.user.phone_number %>
		</div>


<% @order_items.each do |order_item| %>


<div class="container" id="cartItem">
	<div>
		Quantity - <%= order_item.quantity %>
	</div>
	<div>
		<%= order_item.item.name %>
	</div>
	<div>
		Size - <%= order_item.size %>
	</div>
</div>
<br/>

<% end %>

<br/>
<br/>

<div>
	Total Items: <%= @order.order_items.count %> 
	Ordered at: <%= @order.created_at %>
</div>