<%= render 'shared/navv' %>
<section class="orders-page">

	<div class="flash text-center flash-text">
		<% if flash[:notice] %>
			<%= flash[:notice] %>
		<% end %>
	</div>

	<h1 class="text-center">All Orders</h1>

		<% @orders.each do |order| %>

		<div class="order-info">
			<div class="pickup">
				<h2>Order Number: <%= order.id %></h2> <p>Placed At: <%= order.created_at.getlocal.strftime("%D - %I:%M%p") %></p>
				<p>Pick Up Date & Time: <span class="order-span"><%= order.date %></span class="order-span"> - <span class="order-span"><%= order.time %></span class="order-span"></p>
			</div>
			<div class="order-index">

					<div class="col-lg-4 text-center user-info">
						<span class="glyphicon glyphicon-user"></span> <%= order.user.first %> <%= order.user.last %>
					</div>
					<div class="col-lg-4 text-center user-info">
						<span class="glyphicon glyphicon-envelope"></span> <%= order.user.email %>
					</div>
					<div class="col-lg-4 text-center user-info">
						<span class="glyphicon glyphicon-earphone"></span> <%= order.user.phone_number %>
					</div>

					<% order.order_items.each do |order| %>
						<div class="row">
							<div class="col-lg-4 text-center">
								<%= order.item.name %>
							</div>
							<div class="col-lg-4 text-center">
								<%= order.size %>
							</div>
							<div class="col-lg-4 text-center">
								Qty: <%= order.quantity %>
							</div>
						</div>
					<% end %>

			</div>
		<% end %>

		</div>
</section>



