<h1>All Orders</h1>

	<% @orders.each do |order| %>
		
		<div>
			<%= order.user.first %> <%= order.user.last %>
		</div>
		<div>
			<%= order.user.email %>
		</div>
		<div>
			<%= order.user.phone_number %>
		</div>
		<div>
			<% order.order_items.each do |order| %>

				<div>
					<%= order.item.name %> - <%= order.size %>
				</div>

			<% end %>
		</div>

	<% end %>


