<%= render 'shared/navv' %>
<section class="carts-page">
	<h1 class="text-center">Your Order</h1>
	<p class="text-center">Please place Christmas Orders by December 22, 2015.</p> 
	<p class="text-center">All orders placed after December 22, 2015 will not be accepted. Please call our store 818 242 5921 for any questions or concerns.</p>

	<% if @order_items.size == 0 %>
		<p class="text-center">There are no items in your order</p>
	<% end %>

	<div class="shopping-cart col-lg-7">
	  	<%= render "shared/shopping_cart" %>
	</div>

	<% if @order_items.size > 0 %>
		<div class="col-lg-4 summary">
			<h3>Summary</h3>
			<p class="animated bounceInLeft f-bold">Please place your order 4 hours in advance</p>
			<%= form_tag("/orders/complete/", :method => "post") do %>
					<div class="cart-info">
						<h5>Pick Up</h5>
						<div>
							<span>Date: </span>
							<%= text_field(:order, :date, class: "datepicker") %>
						</div>
						<div>
							<span>Time: </span>
							<%= text_field(:order, :time, class: "timepicker") %>
						</div>
						
						<%= submit_tag("Place Order" , class: "btn btn-success order-btn") %>
						
					</div>

					<p class="update-p"></p>
			<% end %>

		</div>
	<% end %>
</section>

<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker();
    $('.timepicker').timepicker({
    	minTime: '10:30',
    	maxTime: '07:00pm',
    });
  });
</script>