<div class="shopping-cart">
  <%= render "shared/shopping_cart" %>
</div>

<% if @order_items.size > 0 %>

	<%= form_tag("/orders/complete/", :method => "post") do %>
		<div class="row">
			<div class="col-lg-offset-4 col-lg-6">
				<span>Pick-up Date: </span>
				<%= text_field(:order, :date, class: "datepicker") %>
				<span>Time: </span>
				<%= text_field(:order, :time, class: "timepicker") %>
				<%= submit_tag("Place Order" , class: "btn btn-success") %>
			</div>
		</div>
	<% end %>

<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker();
    $('.timepicker').timepicker();
  });
</script>