<div class="row search">
	<div class="col-md-offset-4 col-md-4">
		<h1 class="text-center">Find your dish</h1>
		<div class="text-center">
			<%= form_tag(items_path, method: "get") do %>
				
				<%= select_tag "dish", options_from_collection_for_select(DISH, "to_s", "to_s") %>
				<%= submit_tag "Search", class: "btn btn-success" %>

			<% end %>
		</div>
	</div>
</div>

<div class="row">
	<div class="item-index">
		<h1><%= params[:dish] %></h1>

		<% @items.each do |item| %>
				
			<%= render "shared/item_row", item: item, order_item: @order_item %>
			
		<% end %>
	</div>
</div>



