<%= render 'shared/navv' %>
<section class="items-page">
<div class="container">
	<div class="row search">
		<div class="col-lg-offset-2 col-lg-8">
			<h1 class="text-center"><strong class="bounce"><%= image_tag ('Untitled-1.png') %></strong></h1>
			<div class="text-center">
				<%= form_tag(items_path, method: "get") do %>
					
					<%= select_tag "dish", options_from_collection_for_select(DISH, "to_s", "to_s") %>
					<%= submit_tag "Search", class: "btn btn-success" %>

				<% end %>
				<h2>"Craving for Filipino food?"</h2>
				<p>Please place your order 3 hours in advance</p>
				<p>Orders not taken within 2 hours from the time requested will be assumed cancelled and can be sold at Arko's discretion</p>
			</div>
		</div>
	</div>
</div>

<h1 class="text-center dish-name"><%= params[:dish] %></h1>

<div class="container">
	<div class="row">
		<div class="item-index">

			<% @items.each do |item| %>
					
				<%= render "shared/item_row", item: item, order_item: @order_item %>
				
			<% end %>
		</div>
	</div>
</div>

<div class="index-foot">
<%= render 'shared/footer' %>
</div>
</section>



